.header {
    max-width: calc(300px + (940 - 300) * ((100vw - 320px) / (1440 - 320)));
    /* outline: 1px solid red; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 31px;
}
.burger_box {
    width: 40px;
    height: 35px;
    /* border: 1px solid black; */
    display: none;
    flex-direction: column;
    justify-content: space-around;
}
.line {
    width: 100%;
    height: 4px;
    background-color: #1D1F2E;
}
.logo {
    max-width: calc(100px + (112 - 100) * ((100vw - 320px) / (1440 - 320)));
}
.items {
    max-width: calc(300px + (656 - 300) * ((100vw - 320px) / (1440 - 320)));
    /* outline: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.item {
    margin-right: 30px;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (1440 - 320)));
    line-height: 18px;
    font-weight: 400;
    color: #1D1F2E;
}
.item:last-child {
    margin-right: 0;
}
.cart_box {
    max-width: calc(100px + (112 - 100) * ((100vw - 320px) / (1440 - 320)));
    border-bottom: 2px solid #A25F4B4D;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart_box img:first-child {
    max-width: calc(10px + (16 - 8) * ((100vw - 320px) / (1440 - 320)));
    padding-bottom: 2px;
}
.cart_box img:last-child {
    max-width: calc(12px + (24 - 12) * ((100vw - 320px) / (1440 - 320)));
    padding-bottom: 2px;
}
.cart_box a {
    font-family: 'Karla', sans-serif;
    font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (1440 - 320)));
    line-height: 18px;
    font-weight: 400;
    color: #1D1F2E;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 14px;
}
@media screen and (max-width:900px) {
    .header {
        flex-direction: column;
    }
    .items {
        margin: 0 auto;
        justify-content: center;
    }
    .cart_box {
        margin-top: 10px;
    }
    .logo {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 420px) {
    .header {
        flex-direction: row;
    }
    .logo {
        margin-bottom: 0;
    }
    .items {
        display: none;
    }
    .cart_box {
        display: none;
    }
    .burger_box {
        display: flex;
    }
}