.section_4 {
    width: 100%;
    height: 328px;
    /* outline: 1px solid red; */
    margin-top: calc(55px + (152 - 55) * ((100vw - 320px) / (1440 - 320)));
}
.container_section_4 {
    max-width: calc(300px + (1380 - 300) * ((100vw - 320px) / (1440 - 320)));
    height: 327px;
    /* outline: 1px solid red; */
    margin: 0 auto;
    background-color: #1D1F2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title_section_4 {
    max-width: calc(300px + (410 - 300) * ((100vw - 320px) / (1440 - 320)));
    display: flex;
    align-items: center;
    justify-content: center;
    /* outline: 1px solid red; */
}
.title_section_4 img:nth-child(1){
    margin-right: 15px;
}
.title_section_4 img:nth-child(3){
    margin-left: 15px;
}
.title_section_4 p:nth-child(2) {
    font-family: 'Karla', sans-serif;
    font-size: calc(8px + (15 - 8) * ((100vw - 320px) / (1440 - 320)));
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    margin: 0;
}
.container_section_4 p {
    font-family: 'Karla', sans-serif;
    font-size: calc(18px + (36 - 18) * ((100vw - 320px) / (1440 - 320)));
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    margin-top: calc(8px + (15 - 8) * ((100vw - 320px) / (1440 - 320)));
}
.mail_main_container {
    width: 100%;
    display: flex;
    /* outline: 1px solid red; */
    justify-content: center;
    margin-top: calc(10px + (25 - 10) * ((100vw - 320px) / (1440 - 320)));
}
.mail_box {
    max-width: calc(200px + (350 - 200) * ((100vw - 320px) / (1440 - 320)));
    border: 1px solid #2F303E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: calc(6px + (10 - 6) * ((100vw - 320px) / (1440 - 320)));
}
.mail_box p:nth-child(1) {
    font-family: 'Karla', sans-serif;
    font-size: calc(9px + (12 - 9) * ((100vw - 320px) / (1440 - 320)));
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    /* padding-left: 50px; */
    padding-left: calc(20px + (50 - 20) * ((100vw - 320px) / (1440 - 320)));
    /* padding-right: 50px; */
    padding-right: calc(20px + (50 - 20) * ((100vw - 320px) / (1440 - 320)));
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}
.btn_mail {
    max-width: calc(80px + (129 - 80) * ((100vw - 320px) / (1440 - 320)));
    /* outline: 1px solid red; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.btn_mail:hover {
    cursor: pointer;
}
.btn_mail p:nth-child(1) {
    font-family: 'Karla', sans-serif;
    font-size: calc(9px + (12 - 9) * ((100vw - 320px) / (1440 - 320)));
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}
@media screen and (max-width: 425px) {
    .mail_box p:nth-child(1) {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}